include mixins-pug/_mixins.pug
doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title إمساكية رمضان 2023
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gulzar&display=swap")
        link(rel="stylesheet" href="./sass/css/style.css")
    body
        //- Start Header
        .header
            .heading
                    img(src="./images/logo.png" alt="my-logo" class="logo")
                    h1 شهر رمضان الذي أنزل فيه القرآن
                    p هدًى للناس وبينات من الهدى والفرقان 
                    img(src="./images/head-1-1.png" alt="" class="img")

        //- End Header

        //- Start Table 
        .table
            .container
                .box-head
                    +head-table
                .box-body
                    +body-table('01-الخميس','23 آذار','04:12','04:24','05:38','11:46','06:09','11:03')
                .box-body
                    +body-table('02-الجمعة','24 آذار','04:10','04:22','05:36','11:46','06:09','11:02')
                .box-body
                    +body-table('03-السبت','25 آذار','04:08','04:20','05:35','11:46','06:10','11:02')
                .box-body
                    +body-table('04-الأحد','26 آذار','04:06','04:18','05:33','11:45','06:11','11:02')
                .box-body
                    +body-table('05-الإثنين','27 آذار','04:05','04:17','05:32','11:45','06:11','11:01')
                .box-body
                    +body-table('06-الثلثاء','28 آذار','04:05','04:17','05:31','11:45','06:13','11:01')
                .box-body
                    +body-table('07-الأربعاء','29 آذار','04:04','04:16','05:29','11:45','06:14','11:01')
                .box-body
                    +body-table('08-الخميس','30 آذار','04:01','04:13','05:28','11:44','06:14','11:00')
                .box-body
                    +body-table('09-الجمعة','31 آذار','04:00','04:12','05:27','11:44','06:15','11:00')
                .box-body
                    +body-table('10-السبت','1 نيسان','03:59','04:11','05:27','11:43','06:16','10:59')
                .box-body
                    +body-table('11-الأحد','2 نيسان','03:57','04:06','05:26','11:43','06:17','10:59')
                .box-body
                    +body-table('12-الإثنين','3 نيسان','03:55','04:07','05:24','11:43','06:17','10:59')
                .box-body
                    +body-table('13-الثلثاء','4 نيسان','03:54','04:06','05:22','11:42','06:18','10:58')
                .box-body
                    +body-table('14-الأربعاء','5 نيسان','03:52','04:04','05:21','11:42','06:19','10:58')
                .box-body
                    +body-table('15-الخميس','6 نيسان','03:50','04:02','05:20','11:42','06:19','10:58')
                .box-body
                    +body-table('16-الجمعة','7 نيسان','03:49','04:01','05:19','11:42','06:20','10:57')
                .box-body
                    +body-table('17-السبت','8 نيسان','03:48','04:00','05:17','11:41','06:21','10:57')
                .box-body
                    +body-table('18-الأحد','9 نيسان','03:45','03:57','05:16','11:41','06:21','10:56')
                .box-body
                    +body-table('19-الإثنين','10 نيسان','03:44','03:56','05:15','11:41','06:22','10:56')
                .box-body
                    +body-table('20-الثلثاء','11 نيسان','03:43','03:55','05:13','11:41','06:23','10:56')
                .box-body
                    +body-table('21-الأربعاء','12 نيسان','03:42','03:54','05:12','11:40','06:24','10:55')
                .box-body
                    +body-table('22-الخميس','13 نيسان','03:39','03:51','05:11','11:40','06:24','10:55')
                .box-body
                    +body-table('23-الجمعة','14 نيسان','03:38','03:50','05:09','11:40','06:25','10:55')
                .box-body
                    +body-table('24-السبت','15 نيسان','03:37','03:49','05:08','11:39','06:26','10:54')
                .box-body
                    +body-table('25-الأحد','16 نيسان','03:35','03:47','05:07','11:39','06:27','10:54')
                .box-body
                    +body-table('26-الإثنين','17 نيسان','03:34','03:46','05:06','11:39','06:28','10:53')
                .box-body
                    +body-table('27-الثلثاء','18 نيسان','03:32','03:44','05:05','11:39','06:28','10:53')
                .box-body
                    +body-table('28-الأربعاء','19 نيسان','03:31','03:43','05:03','11:39','06:29','10:53')
                .box-body
                    +body-table('29-الخميس','20 نيسان','03:30','03:42','05:02','11:38','06:30','10:52')
                .box-body
                    +body-table('30-الجمعة','21 نيسان','03:28','03:40','05:01','11:38','06:30','10:52')
        //- End Table

        //- Start Mounasabat
        .mounasabat
            .container
                .box
                    p
                        span 6 رمضان 
                        |البيعة بولاية العهد للإمام الرضا
                        span.s (ع)
                .box
                    p
                        span 7 رمضان 
                        |وفاة أبو طالب عم النبيّ
                        span.s (ع)
                .box
                    p
                        span 10 رمضان 
                        |وفاة السيدة خديجة
                        span.s (ع)
                        |زوجة النبي محمد
                        span.s (ص)
                .box
                    p
                        span 15 رمضان 
                        |ذكرى ولادة الإمام الحسن المجتبى 
                        span.s (ع)
                .box
                    p
                        span 17 رمضان 
                        |معركة بدر الكبرى
                        span.s (ع)
                .box
                    p
                        span ليلة 19 رمضان 
                        |ليلة القدر الأولى وجرح أمير المؤمنين علي بن أبي طالب
                        span.s (ع)
                .box
                    p
                        span 20 رمضان 
                        |فتح مكة 
                .box
                    p
                        span ليلة 21 رمضان 
                        |ليلة القدر الثانية وذكرى إستشهاد الإمام علي
                        span.s (ع)
                .box
                    p
                        span ليلة 23 رمضان 
                        |ليلة القدر الثالثة وفيها أنزل الله جل جلاله القرآن الكريم على النبي محمد
                        span.s (ص)
        //- End Mounasabat

        //- Start Note
        .ramadan-note
            .container
                .notes
                    .note
                        +notes('المفطرات:','تعمد الأكل والشرب','تعمد القيء','تعمد إدخال الغبار أو الدخان الغليظين','تعمّد الجناب الموجب للجنابة والإستمناء','تعمد البقاء على الجنابة حتى الإمساك','تعمد الإحتقان بالماء وغيره من المانعات ولو للضرورة','يكره كراهية شديدة رمس الرأس في الماء في السباحة أو غيرها','تعمّد الكذب على الله أو على رسوله أو على أحد الأئمة المعصومين (عليهم السلام)')
                        .box-note
                            p
                                span.n الصوم 
                                |هو الإمتناع عن تناول الطعام والشراب وسائر المفطرات من الإمساك حتى غروب الشمس
                            p
                                span.n النية 
                                |يجب على المكلف قصد الإمساك عن المفطرات من أول الفجر إلى الغروب متقرباً به إلى الله تعالى. ويجوز الإكتفاء بقصد صوم تمام الشهر من أوله. فلا يعتبر حدوث القصد المذكور في كل ليلة
                    .foot-note
                        p تقبل الله منا ومنكم صالح الأعمال والطاعات
        //- End Note

        //- Start Footer
    .footer
        //- End Footer