@import "./variables";
.ramadan-note{
    direction: rtl;
    margin-bottom: 20px;
    .notes{
        border: 2px outset $second-color;
        padding: 20px;
        .note{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media #{$maxMobile}{
                flex-wrap: wrap;
            }
            ul{
                width: (100% / 2);
                list-style: none;
                @media #{$maxMobile}{
                    width: 100%;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $main-color;
                }
                li{
                    margin-bottom: 10px;
                    h3{
                        font-size: 40px;
                        color: $fifth-color;
                    }
                    &:not(:first-child)::before{
                        content: "-";
                        margin-left: 10px;
                        vertical-align: text-bottom;
                    }
                }
            }
            .box-note{
                width: (100% / 2);
                @media #{$maxMobile}{
                    width: 100%;
                    border-bottom: 1px solid $main-color;
                    padding-bottom: 10px;
                }
                p{
                    margin-bottom: 10px;
                    .n{
                        font-size: 40px;
                        color: $third-color;
                    }
                }
            }
        }
        .foot-note{
            text-align: left;
            font-size: 14px;
            color: $fifth-color;
            margin-top: 10px;
            @media #{$maxMobile}{
                font-size: 10px;
            }
        }
    }
}