$main-color: #2b7671;
$second-color: #e3b22f;
$third-color: #6d7975;
$fourth-color: #e1d7b4;
$fifth-color: #6e6566;

$maxMobile: '(max-width: 767px)';
$maxSmall: '(max-width: 991px)';
$minSmall: '(min-width: 768px)';
$minMedium: '(min-width: 992px)';
$minLarge: '(min-width: 1200px)';